


  {{ INCLUDE _partial/head 
	TitleContent =  TITLE 
	HeadDesc     =  DESCRIPTION
  }}


    {{ INCLUDE _partial/header }}

    {{ INCLUDE _partial/intro }}

    {{ INCLUDE _partial/content 
	is_less = 'true'
    }}

    {{ INCLUDE _partial/paging }}

    {{ INCLUDE _partial/footer }}

