{{ FOREACH POSTS }}
{{ TitleContent = title }}
{{ HeadDesc = body.less }}
{{ END }}

  {{ INCLUDE _partial/head 
	TitleContent
	HeadDesc
  }}


    {{ INCLUDE _partial/header }}

    {{ INCLUDE _partial/content
	is_post = 'true'
	is_more = 'true'
    }}


  {{ INCLUDE _partial/footer }}

