
  {{ HeadDesc = post.body.less | html }}

  {{ INCLUDE _partial/head 
	TitleContent = post.title
  }}

    {{ INCLUDE _partial/header }}

    {{ INCLUDE _partial/content
	is_post = 'true'
	is_more = 'true'
    }}


  {{ INCLUDE _partial/footer }}

